name : cichurn

on :
  push :
    branches : ["main"]

jobs :

  test_api : 
    runs-on : ubuntu-latest
    
    steps :
      - name : checkout du code 
        uses : actions/checkout@v3

      - name : Install python
        uses : actions/setup-python@v4
        with :
          python-version : '3.11'
      
      - name : Install dependencies
        run : |
          pip install --upgrade pip
          pip install -r app/requirements.txt
          pip install pytest httpx
      
      - name : Lancement du test
        
        run : |
          pytest test/ 
  
  